<div class="row">
    <!-- start header -->
    <div class="span4 logo">
        <a href="@Url.Action("Index", "Home")">
            <div class="row">
                <div class="span1">
                    <img src="/content/css/images/Home-green-48.png" alt="" />
                </div>
                <div class="span3">
                    <h1>
                        <small>Nahamaleo</small><br />
                        <span>Real</span> estate</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="span4 customer_service pull-right text-right">
        <br />
        <h4>
            Customer service: 0412 123 456</h4>
        <h4>
            <small>24 hours a day, 7 days a week</small></h4>
    </div>
</div>
<!-- end header -->
<div class="row">
    <!-- start nav -->
    <div class="span12">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("buy", "queryform", "propertymanager", new { rentorbuy = "sale" }, null)</li>
                            <li>@Html.ActionLink("rent", "queryform", "propertymanager", new { rentorbuy = "rent" }, null)</li>
                            <li>@Html.ActionLink("new homes", "compare", "Home")</li>
                            <li>@Html.ActionLink("Property of the day", "property", "Home")</li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Property
                                pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Property listings", "listings", "Home")</li>
                                    <li>@Html.ActionLink("Properties map", "map_properties", "Home")</li>
                                    <li>@Html.ActionLink("Compare properties", "compare", "Home")</li>
                                    <li>@Html.ActionLink("Single property", "property", "Home")</li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog
                                pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="terms.html">Terms and conditions</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="about.html">About us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
    </div>
</div>
<!-- end nav -->
