<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Nahamaleo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container">
        @Html.Partial("_header")
        <div id="container">
            @RenderBody()
        </div>
        @Html.Partial("_footer")
    </div>
    <!-- /container -->
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.aw-showcase/jquery.aw-showcase.js"></script>
    <link rel="stylesheet" href="~/Scripts/js/jquery.aw-showcase/css/style.css" />
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/Scripts/js/badger/badger.min.css" />
    <script type="text/javascript" src="~/Scripts/js/badger/badger.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/js/sticky/sticky.min.css" />
    <script type="text/javascript" src="~/Scripts/js/sticky/sticky.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/portamento-min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/global.js"></script>
</body>
</html>
