@model nahamaleo.Models.PropertyModel
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
@using (Html.BeginForm("Create", "PropertyManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4 well lform">
            <fieldset>
                <div class="row">
                    <div class="span4">
                        <div class="control-group">
                            <label for="focusedInput" class="control-label">
                                Location</label>
                            <div class="controls">
                                <input type="text" value="" placeholder="Where do you want to live?" id="property_location"
                                    class="input-xlarge" name="property_location">
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <div class="control-group">
                                    <label for="focusedInput" class="control-label">
                                        Search radius:</label>
                                    <div class="controls">
                                        <select class="input-medium focused">
                                            <option>This area only</option>
                                            <option>Within 1/4 mile</option>
                                            <option>Within 1/2 mile</option>
                                            <option>Within 1 mile</option>
                                            <option>Within 3 miles</option>
                                            <option>Within 5 miles</option>
                                            <option>Within 10 miles</option>
                                            <option>Within 15 miles</option>
                                            <option>Within 20 miles</option>
                                            <option>Within 30 miles</option>
                                            <option>Within 40 miles</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span2 ">
                                <label for="focusedInput" class="control-label">
                                    Property type:</label>
                                <div class="controls">
                                    <select class="input-medium focused" id="property_type" name="property_type">
                                        <option>Any</option>
                                        <option>Houses</option>
                                        <option>Flats/ Apartments</option>
                                        <option>Bungalows</option>
                                        <option>Land</option>
                                        <option>Commercial property</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <div class="control-group">
                                    <label for="focusedInput" class="control-label">
                                        Number of bedrooms:</label>
                                    <div class="controls">
                                        <select class="input-medium focused" id="no_of_rooms" name="no_of_rooms">
                                            <option>Any</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <label for="focusedInput" class="control-label">
                                    Rent or Buy</label>
                                <div class="controls">
                                    <select class="input-medium focused" id="rent_or_buy" name="rent_or_buy">
                                        <option>Any</option>
                                        <option>Rent</option>
                                        <option>Buy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <div class="control-group">
                                    <label for="focusedInput" class="control-label">
                                        Minimum Price</label>
                                    <div class="controls">
                                        <select class="input-medium focused" id="property_cost" name="property_cost">
                                            <option selected="selected" value="">No min</option>
                                            <option value="50000">50,000</option>
                                            <option value="60000">60,000</option>
                                            <option value="70000">70,000</option>
                                            <option value="80000">80,000</option>
                                            <option value="90000">90,000</option>
                                            <option value="100000">100,000</option>
                                            <option value="110000">110,000</option>
                                            <option value="120000">120,000</option>
                                            <option value="125000">125,000</option>
                                            <option value="130000">130,000</option>
                                            <option value="140000">140,000</option>
                                            <option value="150000">150,000</option>
                                            <option value="160000">160,000</option>
                                            <option value="170000">170,000</option>
                                            <option value="175000">175,000</option>
                                            <option value="180000">180,000</option>
                                            <option value="190000">190,000</option>
                                            <option value="200000">200,000</option>
                                            <option value="210000">210,000</option>
                                            <option value="220000">220,000</option>
                                            <option value="230000">230,000</option>
                                            <option value="240000">240,000</option>
                                            <option value="250000">250,000</option>
                                            <option value="260000">260,000</option>
                                            <option value="270000">270,000</option>
                                            <option value="280000">280,000</option>
                                            <option value="290000">290,000</option>
                                            <option value="300000">300,000</option>
                                            <option value="325000">325,000</option>
                                            <option value="350000">350,000</option>
                                            <option value="375000">375,000</option>
                                            <option value="400000">400,000</option>
                                            <option value="425000">425,000</option>
                                            <option value="450000">450,000</option>
                                            <option value="475000">475,000</option>
                                            <option value="500000">500,000</option>
                                            <option value="550000">550,000</option>
                                            <option value="600000">600,000</option>
                                            <option value="650000">650,000</option>
                                            <option value="700000">700,000</option>
                                            <option value="800000">800,000</option>
                                            <option value="900000">900,000</option>
                                            <option value="1000000">1,000,000</option>
                                            <option value="1500000">1,500,000</option>
                                            <option value="2000000">2,000,000</option>
                                            <option value="3000000">3,000,000</option>
                                            <option value="">No min</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <label for="focusedInput" class="control-label">
                                    Maximum Price</label>
                                <div class="controls">
                                    <select class="input-medium focused">
                                        <option selected="selected" value="">No min</option>
                                        <option value="50000">50,000</option>
                                        <option value="60000">60,000</option>
                                        <option value="70000">70,000</option>
                                        <option value="80000">80,000</option>
                                        <option value="90000">90,000</option>
                                        <option value="100000">100,000</option>
                                        <option value="110000">110,000</option>
                                        <option value="120000">120,000</option>
                                        <option value="125000">125,000</option>
                                        <option value="130000">130,000</option>
                                        <option value="140000">140,000</option>
                                        <option value="150000">150,000</option>
                                        <option value="160000">160,000</option>
                                        <option value="170000">170,000</option>
                                        <option value="175000">175,000</option>
                                        <option value="180000">180,000</option>
                                        <option value="190000">190,000</option>
                                        <option value="200000">200,000</option>
                                        <option value="210000">210,000</option>
                                        <option value="220000">220,000</option>
                                        <option value="230000">230,000</option>
                                        <option value="240000">240,000</option>
                                        <option value="250000">250,000</option>
                                        <option value="260000">260,000</option>
                                        <option value="270000">270,000</option>
                                        <option value="280000">280,000</option>
                                        <option value="290000">290,000</option>
                                        <option value="300000">300,000</option>
                                        <option value="325000">325,000</option>
                                        <option value="350000">350,000</option>
                                        <option value="375000">375,000</option>
                                        <option value="400000">400,000</option>
                                        <option value="425000">425,000</option>
                                        <option value="450000">450,000</option>
                                        <option value="475000">475,000</option>
                                        <option value="500000">500,000</option>
                                        <option value="550000">550,000</option>
                                        <option value="600000">600,000</option>
                                        <option value="650000">650,000</option>
                                        <option value="700000">700,000</option>
                                        <option value="800000">800,000</option>
                                        <option value="900000">900,000</option>
                                        <option value="1000000">1,000,000</option>
                                        <option value="1500000">1,500,000</option>
                                        <option value="2000000">2,000,000</option>
                                        <option value="3000000">3,000,000</option>
                                        <option value="">No min</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2 pull-right" style="margin-top: 10px;">
                            <button class="btn btn-primary pull-right" type="submit" value="Create">
                                Search</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}
@*@using (Html.BeginForm("Create", "PropertyManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)
<fieldset>
    <legend>PropertyModel</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.property_location)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.property_location)
        @Html.ValidationMessageFor(model => model.property_location)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.property_type)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.property_type)
        @Html.ValidationMessageFor(model => model.property_type)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.no_of_rooms)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.no_of_rooms)
        @Html.ValidationMessageFor(model => model.no_of_rooms)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.rent_or_buy)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.rent_or_buy)
        @Html.ValidationMessageFor(model => model.rent_or_buy)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.property_cost)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.property_cost)
        @Html.ValidationMessageFor(model => model.property_cost)
    </div>
    <div class="editor-field">
        <input type="file" name="file" />
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
