@model nahamaleo.Models.PropertyModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PropertyModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.property_location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.property_location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.property_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.property_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.no_of_rooms)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.no_of_rooms)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rent_or_buy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rent_or_buy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.property_cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.property_cost)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
