@model IEnumerable<nahamaleo.Models.PropertyModel>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Description
        </th>
        <th>
            Region
        </th>
        <th>
            Price
        </th>
        <th>
            Days on market
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_rooms) bedroom
                @Html.DisplayFor(modelItem => item.property_type) for
                @Html.DisplayFor(modelItem => item.rent_or_buy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.property_location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.property_cost)
            </td>
            
            <td>
                1 day
            </td>
            <td>
                <a href="property.html">View</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
