@{
    ViewBag.Title = "Listings";
}
<div class="row">
    <div class="span4">
        <div class="row">
            <h4 class="span3 well">
                Change location and criteria</h4>
            <div class="span3 well">
                <form class="form-inline mini" style="margin-bottom: 0px;">
                <fieldset>
                    <div class="row">
                        <div class="span3">
                            <div class="control-group">
                                <label for="focusedInput" class="control-label">
                                    Location</label>
                                <div class="controls">
                                    <input type="text" value="" placeholder="Where do you want to live?" id="location"
                                        name="location" class="span2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="span3">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Radius</label>
                                        <div class="controls">
                                            <select class="span2">
                                                <option>This area only</option>
                                                <option>Within 1/4 mile</option>
                                                <option>Within 1/2 mile</option>
                                                <option>Within 1 mile</option>
                                                <option>Within 3 miles</option>
                                                <option>Within 5 miles</option>
                                                <option>Within 10 miles</option>
                                                <option>Within 15 miles</option>
                                                <option>Within 20 miles</option>
                                                <option>Within 30 miles</option>
                                                <option>Within 40 miles</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2 ">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Property</label>
                                        <div class="controls">
                                            <select class="span2" id="property" name="property">
                                                <option value="">Any</option>
                                                <option>House</option>
                                                <option>Flat</option>
                                                <option>Bungalow</option>
                                                <option>Land</option>
                                                <option>Commercial</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span3">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Bedrooms</label>
                                        <div class="controls">
                                            <select class="span2" id="rooms" name="rooms">
                                                <option value="">Any</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Rent/Buy</label>
                                        <div class="controls">
                                            <select class="span2" id="rentorbuy" name="rentorbuy">
                                                <option value="">Any</option>
                                                <option>Rent</option>
                                                <option value="sale">Buy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label for="focusedInput" class="control-label">
                                            Price</label>
                                        <div class="controls">
                                            <select class="span1" style="width: 68px;" id="mincost" name="mincost">
                                                <option selected="selected" value="">Min</option>
                                                <option value="50000">50,000</option>
                                                <option value="60000">60,000</option>
                                                <option value="70000">70,000</option>
                                                <option value="80000">80,000</option>
                                                <option value="90000">90,000</option>
                                                <option value="100000">100,000</option>
                                                <option value="110000">110,000</option>
                                                <option value="120000">120,000</option>
                                                <option value="125000">125,000</option>
                                                <option value="130000">130,000</option>
                                                <option value="140000">140,000</option>
                                                <option value="150000">150,000</option>
                                                <option value="160000">160,000</option>
                                                <option value="170000">170,000</option>
                                                <option value="175000">175,000</option>
                                                <option value="180000">180,000</option>
                                                <option value="190000">190,000</option>
                                                <option value="200000">200,000</option>
                                                <option value="210000">210,000</option>
                                                <option value="220000">220,000</option>
                                                <option value="230000">230,000</option>
                                                <option value="240000">240,000</option>
                                                <option value="250000">250,000</option>
                                                <option value="260000">260,000</option>
                                                <option value="270000">270,000</option>
                                                <option value="280000">280,000</option>
                                                <option value="290000">290,000</option>
                                                <option value="300000">300,000</option>
                                                <option value="325000">325,000</option>
                                                <option value="350000">350,000</option>
                                                <option value="375000">375,000</option>
                                                <option value="400000">400,000</option>
                                                <option value="425000">425,000</option>
                                                <option value="450000">450,000</option>
                                                <option value="475000">475,000</option>
                                                <option value="500000">500,000</option>
                                                <option value="550000">550,000</option>
                                                <option value="600000">600,000</option>
                                                <option value="650000">650,000</option>
                                                <option value="700000">700,000</option>
                                                <option value="800000">800,000</option>
                                                <option value="900000">900,000</option>
                                                <option value="1000000">1,000,000</option>
                                                <option value="1500000">1,500,000</option>
                                                <option value="2000000">2,000,000</option>
                                                <option value="3000000">3,000,000</option>
                                                <option value="">Min</option>
                                            </select>
                                            <select class="span1 pull-right" style="width: 68px;" id="maxcost" name="maxcost">
                                                <option selected="selected" value="">Max</option>
                                                <option value="50000">50,000</option>
                                                <option value="60000">60,000</option>
                                                <option value="70000">70,000</option>
                                                <option value="80000">80,000</option>
                                                <option value="90000">90,000</option>
                                                <option value="100000">100,000</option>
                                                <option value="110000">110,000</option>
                                                <option value="120000">120,000</option>
                                                <option value="125000">125,000</option>
                                                <option value="130000">130,000</option>
                                                <option value="140000">140,000</option>
                                                <option value="150000">150,000</option>
                                                <option value="160000">160,000</option>
                                                <option value="170000">170,000</option>
                                                <option value="175000">175,000</option>
                                                <option value="180000">180,000</option>
                                                <option value="190000">190,000</option>
                                                <option value="200000">200,000</option>
                                                <option value="210000">210,000</option>
                                                <option value="220000">220,000</option>
                                                <option value="230000">230,000</option>
                                                <option value="240000">240,000</option>
                                                <option value="250000">250,000</option>
                                                <option value="260000">260,000</option>
                                                <option value="270000">270,000</option>
                                                <option value="280000">280,000</option>
                                                <option value="290000">290,000</option>
                                                <option value="300000">300,000</option>
                                                <option value="325000">325,000</option>
                                                <option value="350000">350,000</option>
                                                <option value="375000">375,000</option>
                                                <option value="400000">400,000</option>
                                                <option value="425000">425,000</option>
                                                <option value="450000">450,000</option>
                                                <option value="475000">475,000</option>
                                                <option value="500000">500,000</option>
                                                <option value="550000">550,000</option>
                                                <option value="600000">600,000</option>
                                                <option value="650000">650,000</option>
                                                <option value="700000">700,000</option>
                                                <option value="800000">800,000</option>
                                                <option value="900000">900,000</option>
                                                <option value="1000000">1,000,000</option>
                                                <option value="1500000">1,500,000</option>
                                                <option value="2000000">2,000,000</option>
                                                <option value="3000000">3,000,000</option>
                                                <option value="">Max</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 pull-right" style="margin-top: 10px;">
                                <button class="btn btn-primary pull-right" type="submit">
                                    Search</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <h4 class="span3 well">
                Recently visited</h4>
            <div class="span3 well">
                <h4>
                    Property type:</h4>
                <ul class="nav">
                    <li><a class="active" href="category.html">Houses (12)</a>
                        <ul>
                            <li><a href="listings.html">- Detached houses (11)</a></li>
                            <li><a class="active" href="listings.html">- Semi-detached houses (1)</a></li>
                            <li><a class="active" href="listings.html">- Terraced houses (1)</a></li>
                        </ul>
                    </li>
                    <li><a href="category.html">Bungalows (5)</a></li>
                    <li><a href="category.html">Land (2)</a></li>
                </ul>
                <h4>
                    Preowned & new homes:</h4>
                <ul class="nav">
                    <li><a href="category.html">Pre-owned homes (5)</a></li>
                    <li><a href="category.html">Brand new homes (2)</a></li>
                </ul>
                <h4>
                    Outside space:</h4>
                <ul class="nav">
                    <li><a href="category.html">Garden (5)</a></li>
                    <li><a href="category.html">Parking (2)</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h4 class="span3 well">
                Near London</h4>
            <div class="span3  well">
                <ul class="nav">
                    <li><a href="category.html">Scotland</a></li>
                    <li><a href="category.html">Wales</a></li>
                    <li><a href="category.html">Northern Ireland</a></li>
                    <li><a href="category.html">Birmingham</a></li>
                    <li><a href="category.html">Leeds</a></li>
                    <li><a href="category.html">Glasgow</a></li>
                    <li><a href="category.html">Sheffield</a></li>
                    <li><a href="category.html">Bradford</a></li>
                    <li><a href="category.html">Edinburgh</a></li>
                    <li><a href="category.html">Liverpool</a></li>
                    <li><a href="category.html">Manchester</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h4 class="span3 well">
                Popular searches</h4>
            <div class="span3  well">
                <ul class="nav">
                    <li><a href="category.html">Property for sale in London</a></li>
                    <li><a href="category.html">Houses for sale in London</a></li>
                    <li><a href="category.html">2 bedroom houses for sale in London</a></li>
                    <li><a href="category.html">3 bedroom houses for sale in London</a></li>
                    <li><a href="category.html">4 bedroom houses for sale in London</a></li>
                    <li><a href="category.html">5+ bedroom houses for sale in London</a></li>
                    <li><a href="category.html">Flats for sale in London</a></li>
                    <li><a href="category.html">Studio flats for sale in London</a></li>
                    <li><a href="category.html">1 bedroom flats for sale in London</a></li>
                    <li><a href="category.html">2 bedroom flats for sale in London</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="row">
            <h4 class="span7 well" style="width: 580px">
                Premium properties</h4>
            <div class="span8 premium_properties">
                <ul class="thumbnails">
                    <li class="span2 premium_property" data-text="Featured">
                        <div class="thumbnail">
                            <a href="property.html">
                                <img width="192" src="/content/css/images/premium/premium_1.jpg" alt=""></a>
                            <h3>
                                Price : Kshs.3,350,000</h3>
                            <p>
                                <a href="property.html">7 bedroom house</a><br />
                                The Vineyard, Richmond, TW10
                            </p>
                        </div>
                    </li>
                    <li class="span2 premium_property" data-text="Premium">
                        <div class="thumbnail">
                            <a href="property.html">
                                <img width="192" src="/content/css/images/premium/premium_2.jpg" alt=""></a>
                            <h3>
                                Price : Kshs.229,950</h3>
                            <p>
                                <a href="property.html">1 bedroom flat</a><br />
                                Lower Mortlake Road, North Sheen
                            </p>
                        </div>
                    </li>
                    <li class="span2 premium_property" data-text="Offers availiable">
                        <div class="thumbnail">
                            <a href="property.html">
                                <img width="192" src="/content/css/images/premium/premium_3.jpg" alt=""></a>
                            <h3>
                                Price : Kshs.520,000</h3>
                            <p>
                                <a href="property.html">2 bedroom apartment</a><br />
                                Mount Ararat Road, Richmond
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Partial("_listing")
        @*        @foreach (var item in Model)
        {
            <div class="row premium">
                <div class="span2">
                    <a href="@Url.Action("property", "Home")">
                        <div class="thumbnail">
                            <img alt="" src="/content/css/images/houses/house_3.jpg">
                        </div>
                    </a>
                    <h5>
                        Guide price: Kshs. @Html.DisplayFor(modelItem => item.property_cost)</h5>
                    <h6>
                        Bedrooms: @Html.DisplayFor(modelItem => item.no_of_rooms)</h6>
                    <h6>
                        Days on site: 4</h6>
                    <h6>
                        Sqft: 2,325</h6>
                </div>
                <div class="span6">
                    <a href="@Url.Action("property", "Home")">
                        <h3>
                            @Html.DisplayFor(modelItem => item.no_of_rooms) bedroom
                            @Html.DisplayFor(modelItem => item.property_type) for
                            @Html.DisplayFor(modelItem => item.rent_or_buy)
                            @Html.DisplayFor(modelItem => item.property_location)
                        </h3>
                    </a>
                    <p>
                        One of the finest and most elegant houses in South West London - This exceptional
                        example of William and Mary architecture positioned centrally in Richmond has been
                        extended at various times over the last 300 years and now provides the perfect cohesion
                        of traditional and contemporary design.
                    </p>
                    <p>
                        <a href="#">More details, 14 photos, floorplan and brochure</a> | <a href="#">Save property</a>
                        | <a href="#">Contact agent</a> | <a href="#">Upgrade listing</a>
                    </p>
                    <p>
                        Marketed by Knight Frank, Richmond. Telephone: 0843 314 8224 <a href="#">BT 4p/min</a>
                    </p>
                </div>
            </div>
            <hr />
        }
*@
    </div>
</div>
@*
@model IEnumerable<nahamaleo.Models.PropertyModel>
@{
    ViewBag.Title = "queryForm";
}
<div class="row">
    <div class="span4">
        <div class="row">
            <h4 class="span3 well">
                Change location and criteria</h4>
            <div class="span3 well">
                @using (Html.BeginForm("queryForm", "PropertyManager", FormMethod.Get))
                { 
                    <fieldset>
                        <div class="row">
                            <div class="span3">
                                <div class="control-group">
                                    <label for="focusedInput" class="control-label">
                                        Location</label>
                                    <div class="controls">
                                        <input type="text" value="" placeholder="Where do you want to live?" id="location"
                                            name="location" class="span2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Radius</label>
                                            <div class="controls">
                                                <select class="span2">
                                                    <option>This area only</option>
                                                    <option>Within 1/4 mile</option>
                                                    <option>Within 1/2 mile</option>
                                                    <option>Within 1 mile</option>
                                                    <option>Within 3 miles</option>
                                                    <option>Within 5 miles</option>
                                                    <option>Within 10 miles</option>
                                                    <option>Within 15 miles</option>
                                                    <option>Within 20 miles</option>
                                                    <option>Within 30 miles</option>
                                                    <option>Within 40 miles</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2 ">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Property</label>
                                            <div class="controls">
                                                <select class="span2" id="property" name="property">
                                                    <option value="">Any</option>
                                                    <option>House</option>
                                                    <option>Flat</option>
                                                    <option>Bungalow</option>
                                                    <option>Land</option>
                                                    <option>Commercial</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Bedrooms</label>
                                            <div class="controls">
                                                <select class="span2" id="rooms" name="rooms">
                                                    <option value="">Any</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5+</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Rent/Buy</label>
                                            <div class="controls">
                                                <select class="span2" id="rentorbuy" name="rentorbuy">
                                                    <option value="">Any</option>
                                                    <option>Rent</option>
                                                    <option value="sale">Buy</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="control-group">
                                            <label for="focusedInput" class="control-label">
                                                Price</label>
                                            <div class="controls">
                                                <select class="span1" style="width: 68px;">
                                                    <option selected="selected" value="">Min</option>
                                                    <option value="50000">50,000</option>
                                                    <option value="60000">60,000</option>
                                                    <option value="70000">70,000</option>
                                                    <option value="80000">80,000</option>
                                                    <option value="90000">90,000</option>
                                                    <option value="100000">100,000</option>
                                                    <option value="110000">110,000</option>
                                                    <option value="120000">120,000</option>
                                                    <option value="125000">125,000</option>
                                                    <option value="130000">130,000</option>
                                                    <option value="140000">140,000</option>
                                                    <option value="150000">150,000</option>
                                                    <option value="160000">160,000</option>
                                                    <option value="170000">170,000</option>
                                                    <option value="175000">175,000</option>
                                                    <option value="180000">180,000</option>
                                                    <option value="190000">190,000</option>
                                                    <option value="200000">200,000</option>
                                                    <option value="210000">210,000</option>
                                                    <option value="220000">220,000</option>
                                                    <option value="230000">230,000</option>
                                                    <option value="240000">240,000</option>
                                                    <option value="250000">250,000</option>
                                                    <option value="260000">260,000</option>
                                                    <option value="270000">270,000</option>
                                                    <option value="280000">280,000</option>
                                                    <option value="290000">290,000</option>
                                                    <option value="300000">300,000</option>
                                                    <option value="325000">325,000</option>
                                                    <option value="350000">350,000</option>
                                                    <option value="375000">375,000</option>
                                                    <option value="400000">400,000</option>
                                                    <option value="425000">425,000</option>
                                                    <option value="450000">450,000</option>
                                                    <option value="475000">475,000</option>
                                                    <option value="500000">500,000</option>
                                                    <option value="550000">550,000</option>
                                                    <option value="600000">600,000</option>
                                                    <option value="650000">650,000</option>
                                                    <option value="700000">700,000</option>
                                                    <option value="800000">800,000</option>
                                                    <option value="900000">900,000</option>
                                                    <option value="1000000">1,000,000</option>
                                                    <option value="1500000">1,500,000</option>
                                                    <option value="2000000">2,000,000</option>
                                                    <option value="3000000">3,000,000</option>
                                                    <option value="">Min</option>
                                                </select>
                                                <select class="span1 pull-right" style="width: 68px;">
                                                    <option selected="selected" value="">Max</option>
                                                    <option value="50000">50,000</option>
                                                    <option value="60000">60,000</option>
                                                    <option value="70000">70,000</option>
                                                    <option value="80000">80,000</option>
                                                    <option value="90000">90,000</option>
                                                    <option value="100000">100,000</option>
                                                    <option value="110000">110,000</option>
                                                    <option value="120000">120,000</option>
                                                    <option value="125000">125,000</option>
                                                    <option value="130000">130,000</option>
                                                    <option value="140000">140,000</option>
                                                    <option value="150000">150,000</option>
                                                    <option value="160000">160,000</option>
                                                    <option value="170000">170,000</option>
                                                    <option value="175000">175,000</option>
                                                    <option value="180000">180,000</option>
                                                    <option value="190000">190,000</option>
                                                    <option value="200000">200,000</option>
                                                    <option value="210000">210,000</option>
                                                    <option value="220000">220,000</option>
                                                    <option value="230000">230,000</option>
                                                    <option value="240000">240,000</option>
                                                    <option value="250000">250,000</option>
                                                    <option value="260000">260,000</option>
                                                    <option value="270000">270,000</option>
                                                    <option value="280000">280,000</option>
                                                    <option value="290000">290,000</option>
                                                    <option value="300000">300,000</option>
                                                    <option value="325000">325,000</option>
                                                    <option value="350000">350,000</option>
                                                    <option value="375000">375,000</option>
                                                    <option value="400000">400,000</option>
                                                    <option value="425000">425,000</option>
                                                    <option value="450000">450,000</option>
                                                    <option value="475000">475,000</option>
                                                    <option value="500000">500,000</option>
                                                    <option value="550000">550,000</option>
                                                    <option value="600000">600,000</option>
                                                    <option value="650000">650,000</option>
                                                    <option value="700000">700,000</option>
                                                    <option value="800000">800,000</option>
                                                    <option value="900000">900,000</option>
                                                    <option value="1000000">1,000,000</option>
                                                    <option value="1500000">1,500,000</option>
                                                    <option value="2000000">2,000,000</option>
                                                    <option value="3000000">3,000,000</option>
                                                    <option value="">Max</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2 pull-right" style="margin-top: 10px;">
                                    <button class="btn btn-primary pull-right" type="submit">
                                        Search</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>

    @Html.Partial("_listing")
    @*<div class="span8">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.property_location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.property_type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.no_of_rooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rent_or_buy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.property_cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.property_location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.property_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.no_of_rooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rent_or_buy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.property_cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.image)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
*@